.menu {
  display: flex;
  color: rgb(0, 54, 54);
  align-items: right;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
  width: 1880px;
  background-image: url("./back.jpg");
  height: 930px;
}
.e {
  color: rgb(41, 4, 4);
}
#promote {
  margin-top: 20%;
  margin-left: 0;
}
#soft {
  float: right;
}
#home {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
  color: rgb(0, 0, 0);
  text-align: center;
}

.collum {
  float: right;
  width: 100px;
  height: 160px;
  padding: 2px;
}
* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  display: table-row;
  clear: both;
}
