.navbar {
  padding: 0px;
  margin: 0px;
  background-color: rgb(202, 202, 226);
  color: black;
}
#menu {
  display: flex;
  margin-left: 1120px;
  gap: 100px;
  margin-top: 10px;
  border-radius: 110%;
}
