* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inconsolata", monospace;

  background: linear-gradient(90deg, #3f2b83 0%, #1b2f8b 100%);
}

/*    FIRST PAGE
  --------------------
  -------------------- */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: rgb(204, 204, 204);
  text-align: left;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}
nav ul li a:hover {
  color: #58a58e;
  transition: 0.4s;
}
.name {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 86px;
  font-size: 300%;
  background: lightgreen;
}
.undername {
  color: rgb(207, 63, 20);
  text-align: center;
}
#down {
  text-align: center;
  color: #04aa78;
}
#git {
  width: 200px;
  height: 140px;
  border-radius: 80%;
  display: inline-flex;
  float: left;
  margin-left: 35%;
  justify-content: center;
}
#in {
  width: 200px;
  height: 140px;
  border-radius: 80%;
  display: inline-flex;
  float: right;
  justify-content: center;
  margin-right: 35%;
  background: lightgreen;
}

#edu {
  background: rgb(204, 141, 5);
  text-align: center;
  margin-top: 120px;
}
#nit {
  display: flex;
  margin-left: 55%;
  border-radius: 80%;
}
#uninp {
  width: 276px;
  border-radius: 80%;
  height: 260px;
  display: flex;
  margin-left: 36%;
  margin-top: 0px;
}
