* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inconsolata", monospace;
  background-color: rgb(77, 77, 148);
}

/*    FIRST PAGE
  --------------------
  -------------------- */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: rgb(204, 204, 204);
  text-align: left;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}
nav ul li a:hover {
  color: #e43434;
  transition: 0.4s;
}
.name {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 86px;
  font-size: 300%;
  background: rgb(62, 187, 62);
  width: 40%;
  margin-left: 30%;
}
.undername {
  color: rgb(207, 63, 20);
  text-align: center;
}
#down {
  text-align: center;
  color: #04aa78;
}
#git {
  width: 240px;
  height: 150px;
  border-radius: 80%;
  display: inline-flex;
  float: left;
  margin-left: 35%;
  justify-content: center;
}
#in {
  width: 200px;
  height: 140px;
  border-radius: 80%;
  display: inline-flex;
  float: right;
  justify-content: center;
  margin-right: 35%;

  width: 200px;
}

#edu {
  background: rgb(204, 141, 5);
  text-align: center;
  margin-top: 120px;
}
#uninp {
  width: 226px;
  border-radius: 80%;
  height: 216px;
  margin-left: 40%;
  justify-content: center;
  margin-bottom: 20px;
}

#uninp {
  display: inline;
  margin-left: 55%;
  border-radius: 80%;
  width: 250px;
  height: 200px;
}
#nit {
  border-radius: 80%;
  margin-left: -710px;
  width: 250px;
  height: 200px;

  display: inline;
}
.student {
  text-align: center;
  text-size-adjust: large;
  left: 50px;
}
#contact {
  color: rgb(243, 243, 243);
  background: linear-gradient(to bottom right, #de26a0, #ffffff);
  text-align: center;
}
#con {
  text-align: center;
  color: rgb(0, 0, 0);
}
#insta {
  width: 100px;
  height: 110px;
  border-radius: 80%;
}
#fb {
  width: 100px;
  height: 110px;
  border-radius: 80%;
}
#cpp {
  width: 200px;
  height: 165px;
  margin-left: 35%;
}
#c {
  width: 190px;
  height: 166px;
  margin-left: 190px;
}
