body {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(187, 101, 101) 100%); 
  );
}
#Nb {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(10, 10, 46);

  text-decoration: double;
}

#home{
   margin-left: 30px;
  color: rgb(24, 24, 173);
  font-size:26px;
}
#name 
{
  margin-left: 40px;
   color: rgb(0, 0, 0);
 
  font-size:60px;

}
#junior {
  margin-left: 17px;
  color: azure;
  
font-size:26px;
}














}

#logo {
  width: 200px;
  height: 180px;
}
#aboutme {
  text-shadow: 20px;

  margin-left: 100px;
}
#avatar {
  position: absolute;
  top: 80px;
  right: 0px;
  border-radius: 90%;
  width: 400px;
  height: 300px;
}
#aboutme {
  display: absolute;
  margin-left: 0%;
  float: left;
}
#connect {
  display: absolute;
  float: center;
  width: 400px;
  height: 200px;
  margin-left: 50%;
}
.Conn {
  color: rgb(255, 255, 255);
  text-shadow: 20cm;
}
#ig {
  width: 46px;
  height: 34px;
  border-radius: 110%;

  padding-left: 30px 30px;
}
#fb {
  width: 47px;
  height: 34px;
  border-radius: 99%;
  left: 80%;
}
#gh {
  width: 47px;
  height: 34px;
  border-radius: 99%;
  left: 80%;
}
#in {
  width: 47px;
  height: 34px;
  border-radius: 99%;
  left: 80%;
}




