body {
  box-sizing: border-box;
}

p {
  color: lightslategray;
}

#category {
  width: 20%;
}

#text {
  width: 75%;
}

.container {
  height: 25vh;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid darkgrey;
}

.container1 {
  height: 25vh;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
