#jedan {
  position: absolute;
  top: 20px;
  left: 40px;
  background-color: black;
  height: 100px;
  width: 200px;
}

#dva {
  position: absolute;
  top: 80px;
  left: 200px;
  background-color: rgb(202, 0, 0);
  height: 200px;
  width: 150px;
}
#tri {
  position: absolute;
  top: 220px;
  left: 40px;
  background-color: black;
  height: 80px;
  width: 400px;
}

#cetiri {
  position: absolute;
  top: 20px;
  left: 380px;
  background-color: red;
  height: 250px;
  width: 150px;
}
