#jedan {
  position: absolute;
  top: 20px;
  left: 40px;
  background-color: rgb(144, 144, 144);
  height: 250px;
  width: 800px;
  border co
}

#dva {
  position: absolute;
  left: 600px;
  color: rgb(187, 70, 171);
  top: 30px;
   background-color: yellow;
  height: 50px;
  width: 200px;
 
  
}
#tri {
  position: absolute;
  top: 175px;
  left: 270px;
  background-color: rgb(159, 218, 169);
  height: 50px;
  width: 400px;
}

#cetiri {
  position: absolute;
  top: 50px;
  background-color: rgb(223, 79, 79);
  height: 60px;
  width: 200px;
  right: 1100px;
}
