.container {
  margin-bottom: 120px;
  display: inline-block;
  flex-direction: row;
  width: 300px;
  height: 300px;
  padding: 0%;
  margin: 0%;
}
.text.p {
  display: inline-block;
  border-radius: 80%;
  flex-direction: row;
  color: aqua;
  border: 2px saddlebrown;
  background-color: blue;
  margin-left: 210px;
}
