#text {
  display: inline-block;
}
#cont {
  background-color: rgb(165, 167, 164);
  margin-left: 50%;
  margin-top: 0%;
  width: 300px;

  display: absolute;
  text-align: center;
}
#INFO TABLE {
  text-align: left;
  display: flex;
}
