body,
html {
  margin: 0;
  padding: 0;
}

#nav {
  color: aqua;
  float: left;
  margin-left: 2%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
li {
  display: inline-block;
}
